weekly_live_session/WEEK3/20260124_Batch2/Telegram Agent/AI Agent Telegram v2 - 24 Jan 2026.json
{
  "name": "AI Agent Telegram v2 - 24 Jan 2026",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        48
      ],
      "id": "da491d08-4ce3-4587-869f-77cb29d591d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        256
      ],
      "id": "404d31bc-43fb-44db-bf67-71a6b14d754d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jAWUeFd9ZjEHcCEF",
          "name": "KN Google Gemini(PaLM) - 7 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        256
      ],
      "id": "e0d0037b-662b-489c-84cd-c54ce1a3dffa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        32
      ],
      "id": "4f984af3-cc35-4d3e-9789-e7abff3fb1e8",
      "name": "Telegram Trigger",
      "webhookId": "2f802a59-29f8-46cd-a715-0b83a5ca9983",
      "credentials": {
        "telegramApi": {
          "id": "u1UArsflm7twX9ft",
          "name": "KN Jarvis - 24 JAN 2026"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        64
      ],
      "id": "2bc23480-621f-48ac-93a9-b86f3ccb60e4",
      "name": "Send a text message",
      "webhookId": "1fabf88b-6a3a-4f9f-8498-c55e8ccedfb7",
      "credentials": {
        "telegramApi": {
          "id": "u1UArsflm7twX9ft",
          "name": "KN Jarvis - 24 JAN 2026"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "09358389-b41c-454b-912b-accd6f3fb5c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "966c9717c649ff58138114ad4ec0792ba6c6dbbaefbc75a95d7e5ed34f041958"
  },
  "id": "hLNp6ZLiVFDhEiIi",
  "tags": []
}